{%extends 'base.html'%}

{%block title%}
 Select Pokemon
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/login.css">
{%endblock%}

{%block content%}
{%include './includes/nav.html'%}
  {% for pokemon in team %}
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Experience</th>
        <th scope="col">Photo</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{pokemon['name']}}</td>
        <td>{{pokemon['ability']}}</td>
        <td>{{pokemon['base_exp']}}</td>
        <td><img src="{{pokemon['sprite_url']}}"></td>
        <td>
          <a href="{{url_for('post.remove_pokemon', name=pokemon.name)}}" class="btn btn-primary">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
  {%endfor%}


{%endblock%}