{%extends 'base.html'%}

{%block title%}
 View Pokemon
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/login.css">
{%endblock%}

{%block content%}
{%include './includes/nav.html'%}
<div class="flex-container">
<form method="POST">
    <div class="mb-3">
      <label for="pokemon" class="form-label"> View Pokemon!</label>
      <input type="text" class="form-control" id="pokemon" name="pokemon">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

  {% if pokemon %}
  <p>{{pokemon}}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base HP</th>
        <th scope="col">Base Attack</th>
        <th scope="col">Base Defense</th>
        <th scope="col">Experience</th>
        <th scope="col">Photo</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{pokemon['name']}}</td>
        <td>{{pokemon['ability']}}</td>
        <td>{{pokemon['base_hp']}}</td>
        <td>{{pokemon['base_attack']}}</td>
        <td>{{pokemon['base_defense']}}</td>
        <td>{{pokemon['base_exp']}}</td>
        <td><img src="{{pokemon['sprite_url']}}"></td>
        <td>
          <a href="{{url_for('post.add_team', user_id=current_user.id, pokemon_id=pokemon['id']) }}" class="btn btn-primary">Add</a>
          <a href="{{url_for('post.remove_team', user_id=current_user.id, pokemon_id=pokemon['id']) }}" class="btn btn-primary">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
  {%endif%}


{%endblock%}



